<!DOCTYPE html>
<html>
<head>
    <title>PCAA Manager</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <link rel="stylesheet" href="css/indexMain.css">
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <h1><b>PCAA Manager</b></h1>
            <p>Management for thing</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <b>
                    <ul class="list-group">
                        <li class="list-group-item "><h3><b>Choices</b></h3></li>
                        <li class="list-group-item active"><a data-toggle="tab" href="#registrationinfo">Registrations</a></li>
                        <li class="list-group-item"><a data-toggle="tab" href="#members">Members</a></li>
                        <li class="list-group-item"><a data-toggle="tab" href="#venuelocations">Venues</a></li>
                        <!--         <li class="list-group-item"><a data-toggle="tab" href="#/">Update Venue Locations from Excel Spreadsheet</a></li>-->
                        <li class="list-group-item"><a data-toggle="tab" href="#ReportGenPanel">Generate reports</a></li>
                    </ul>
                </b>
            </div>
            <div class="col-md-8">
                <div class="tab-content">
                    <div id="registrationinfo" class="panel tab-pane fade in panel-default active">
                        <div class="panel-heading">
                            <h3 class="panel-title">Jubilee Registrations</h3>
                        </div>
                        <div class="panel-body">

                            <span class="pull-right titleRightSide">
                                Nothing is actually done until you press <span class="glyphicon glyphicon-arrow-right"></span>
                                <span class="btn-group btn-group-md">
                                    <button class="btn btn-success saveAllBtn" data-toggle="modal" data-target="#submitConfirm">Save &amp; Submit</button>
                                    <button class="btn btn-warning revertAllBtn" data-toggle="modal" data-target="#revertConfirm">Revert</button>
                                </span>
                            </span>
                            <h4 class="innerTitle">Currently registered members for each jubilee activity:</h4>
                            <div class="mainContentBox">
                                <table class="table table-striped table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="anim-checkbox">
                                                    <label>
                                                        <input type="checkbox" class="selectAllCb" value="">
                                                        <span class="cr">
                                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </th>
                                            {{#each RegisDesc}}
                                            <th>{{this}}</th>
                                            {{/each}}
                                            <th>
                                                <div class="dropdown buttonSelector pull-right">
                                                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                                                        Editor List
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        {{#each RegisDesc}}
                                                        <li><a class="buttonSelSelction" href="#/">{{this}}</a></li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                                <button type="button" class="btn btn-default pull-right btn-sm colEditBtn">Toggle Edit</button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each RegisDetails}}
                                        <tr>
                                            <td class="col-md-1 vert-align">
                                                <div class="anim-checkbox" draggable="false">
                                                    <label>
                                                        <input type="checkbox" class="massEditCbox" value="">
                                                        <span class="cr">
                                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            {{#each this}}

                                            <td class="vert-align dataEntry">
                                                <div class="displayEntry">{{this}}</div>
                                                {{#if @first}}
                                                {{else}}
                                                <div class="editEntry" style="display:none">
                                                    <!--{{lookup (lookup ../../RegisType (math @index "-" 1)) "type"}}-->
                                                    {{#if (lookup (lookup ../../RegisType (math @index "-" 1)) "enumArray")}}
                                                    <select class="form-control addEntryInput" colID="{{@index}}">
                                                        {{#each (lookup (lookup ../../RegisType (math @index "-" 1)) "enumArray")}}
                                                        <option>{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                    {{else if (lookup (lookup ../../RegisType (math @index "-" 1)) "year")}}
                                                    <input type="number" class="form-control addEntryInput" value="2000" maxlength="4" colID="{{@index}}">
                                                    {{else if (lookup (lookup ../../RegisType (math @index "-" 1)) "isBool")}}
                                                    <div class="anim-checkbox" style="flex: 0 0 auto;" draggable="false">
                                                        <label style="margin-top: 5px;">
                                                            <input type="checkbox" class="addEntryInput" value="">
                                                            <span class="cr">
                                                                <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    {{else}}
                                                    <input type="text" class="form-control addEntryInput" name="{{lookup (lookup ../../RegisType (math @index "-" 1)) "title"}}" id="{{lookup (lookup ../../RegisType (math @index "-" 1)) "title"}}" value="" placeholder="{{lookup (lookup ../../RegisType (math @index "-" 1)) "placeholder"}}" colID="{{@index}}" />
                                                    {{/if}}

                                                </div>
                                                {{/if}}
                                            </td>


                                            {{/each}}
                                            <td class="vert-align editBtnGroup">
                                                <div class="btn-group btn-group-sm pull-right show-on-hover">
                                                    <button type="button" class="btn btn-success editSaveBtn">Save</button>
                                                    <button type="button" class="btn btn-warning editCancelBtn">Cancel</button>
                                                    <button type="button" class="btn btn-default editEntryBtn">Edit</button>
                                                    <button type="button" class="btn btn-danger cancelRegisBtn">Cancle</button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removalConfirm">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class="pull-right" style="vertical-align: middle;"><button class="btn btn-primary" data-toggle="modal" data-target="#addRegis">Add</button></div>
                                <div class="massEditBtns">
                                    <label for="massEdit" style="vertical-align: middle;">Mass Edit:</label>
                                    <div class="btn-group btn-group-md">
                                        <button type="button" class="btn btn-default massEditEdit" data-toggle="modal" data-target="#addRegis">
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-danger massEditRemove" data-toggle="modal" data-target="#removalConfirm">
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade addEntryModal" id="addRegis" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="">Add item</h4>
                                    </div>
                                    <div class="modal-body">
                                        Add entry to registrations:
                                        <div class="form-group">
                                            <div class="addEntryEntry">
                                                <span class="addEntryLbl" style="margin-right: 20px"><b>ID</b></span>
                                                <span class=""> Auto generated</span>
                                            </div>
                                            {{#each RegisType}}
                                            <div class="addEntryEntry">
                                                <label class="addEntryLbl" for="{{title}}">{{title}}</label>
                                                {{#if enumArray}}
                                                <select class="form-control addEntryInput" colID="{{math @index "+" 1}}">
                                                    {{#each enumArray}}
                                                    <option>{{this}}</option>
                                                    {{/each}}
                                                </select>
                                                {{else if year}}
                                                <input type="number" class="form-control addEntryInput" value="2000" maxlength="{{maxSize}}" colID="{{math @index "+" 1}}">
                                                <span class="description">Max Length: <b class="maxL">{{maxSize}}</b> Type: <b class="varType">{{type}}</b> </span>
                                                {{else if isBool}}
                                                <div class="anim-checkbox" style="flex: 0 0 auto;" draggable="false">
                                                    <label style="margin-top: 5px;">
                                                        <input type="checkbox" class="addEntryInput" value="">
                                                        <span class="cr">
                                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                                {{else}}
                                                <input type="text" class="form-control addEntryInput" name="{{title}}" id="{{title}}" value="" placeholder="{{placeholder}}" colID="{{math @index "+" 1}}" />
                                                <span class="description">Max Length: <b class="maxL">{{maxSize}}</b> Type: <b class="varType">{{type}}</b> </span>
                                                {{/if}}
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                                        <button type="button" class="btn btn-primary addConfirmBtn" data-dismiss="modal">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div id="members" class="panel tab-pane fade in panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Jubilee Members</h3>
                        </div>
                        <div class="panel-body">

                            <span class="pull-right titleRightSide">
                                Nothing is actually done until you press <span class="glyphicon glyphicon-arrow-right"></span>
                                <span class="btn-group btn-group-md">
                                    <button class="btn btn-success saveAllBtn" data-toggle="modal" data-target="#submitConfirm">Save &amp; Submit</button>
                                    <button class="btn btn-warning revertAllBtn" data-toggle="modal" data-target="#revertConfirm">Revert</button>
                                </span>
                            </span>
                            <h4 class="innerTitle">Currently registered members of PCAA:</h4>

                            <div class="mainContentBox">
                                <table class="table table-striped table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="anim-checkbox">
                                                    <label>
                                                        <input type="checkbox" class="selectAllCb" value="">
                                                        <span class="cr">
                                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </th>
                                            {{#each MemberDesc}}
                                            <th>{{this}}</th>
                                            {{/each}}
                                            <th>
                                                <div class="dropdown buttonSelector pull-right">
                                                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                                                        Editor List
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        {{#each MemberDesc}}
                                                        <li><a class="buttonSelSelction" href="#/">{{this}}</a></li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                                <button type="button" class="btn btn-default pull-right btn-sm colEditBtn">Toggle Edit</button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {{#each MemberDetails}}
                                        <tr>
                                            <td class="col-md-1 vert-align">
                                                <div class="anim-checkbox" draggable="false">
                                                    <label>
                                                        <input type="checkbox" class="massEditCbox" value="">
                                                        <span class="cr">
                                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            {{#each this}}

                                            <td class="vert-align dataEntry">
                                                <div class="displayEntry">{{this}}</div>
                                                {{#if @first}}
                                                {{else}}
                                                <div class="editEntry" style="display:none">
                                                    <!--{{lookup (lookup ../../MemberType (math @index "-" 1)) "type"}}-->
                                                    {{#if (lookup (lookup ../../MemberType (math @index "-" 1)) "enumArray")}}
                                                    <select class="form-control addEntryInput" colID="{{@index}}">
                                                        {{#each (lookup (lookup ../../MemberType (math @index "-" 1)) "enumArray")}}
                                                        <option>{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                    {{else if (lookup (lookup ../../MemberType (math @index "-" 1)) "year")}}
                                                    <input type="number" class="form-control addEntryInput" value="2000" maxlength="4" colID="{{@index}}">
                                                    <!--  <span class="description">Max Length: <b class="maxL">{{lookup (lookup ../../MemberType (math @index "-" 1)) "maxSize"}}</b> Type: <b class="varType">{{lookup (lookup ../../MemberType (math @index "-" 1)) "type"}}</b></span>-->
                                                    {{else if (lookup (lookup ../../MemberType (math @index "-" 1)) "isBool")}}
                                                    <div class="anim-checkbox" style="flex: 0 0 auto;" draggable="false">
                                                        <label style="margin-top: 5px;">
                                                            <input type="checkbox" class="addEntryInput" value="">
                                                            <span class="cr">
                                                                <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    {{else}}
                                                    <input type="text" class="form-control addEntryInput" name="{{lookup (lookup ../../MemberType (math @index "-" 1)) "title"}}" id="{{lookup (lookup ../../MemberType (math @index "-" 1)) "title"}}" value="" placeholder="{{lookup (lookup ../../MemberType (math @index "-" 1)) "placeholder"}}" colID="{{@index}}" />
                                                    <!-- <span class="description">Max Length: <b class="maxL">{{lookup (lookup ../../MemberType (math @index "-" 1)) "maxSize"}}</b> Type: <b class="varType">{{../../MemberType.[@index].type}}</b> </span>-->
                                                    {{/if}}

                                                </div>
                                                {{/if}}
                                            </td>


                                            {{/each}}
                                            <td class="vert-align editBtnGroup">
                                                <div class="btn-group btn-group-sm pull-right show-on-hover">
                                                    <button type="button" class="btn btn-success editSaveBtn">Save</button>
                                                    <button type="button" class="btn btn-warning editCancelBtn">Cancel</button>
                                                    <button type="button" class="btn btn-default editEntryBtn">Edit</button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removalConfirm">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class="pull-right" style="vertical-align: middle;"><button class="btn btn-primary" data-toggle="modal" data-target="#addMembers">Add</button></div>
                                <div class="massEditBtns">
                                    <label for="massEdit" style="vertical-align: middle;">Mass Edit:</label>
                                    <div class="btn-group btn-group-md">
                                        <button type="button" class="btn btn-default massEditEdit" data-toggle="modal" data-target="#addMembers">
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-danger massEditRemove" data-toggle="modal" data-target="#removalConfirm">
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade addEntryModal" id="addMembers" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="">Add item</h4>
                                    </div>
                                    <div class="modal-body">
                                        Add entry to members:
                                        <div class="form-group">
                                            <div class="addEntryEntry">
                                                <span class="addEntryLbl" style="margin-right: 20px"><b>ID</b></span>
                                                <span class=""> Auto generated</span>
                                            </div>
                                            {{#each MemberType}}
                                            <div class="addEntryEntry">
                                                <label class="addEntryLbl" for="{{title}}">{{title}}</label>
                                                {{#if enumArray}}
                                                <select class="form-control addEntryInput" colID="{{math @index "+" 1}}">
                                                    {{#each enumArray}}
                                                    <option>{{this}}</option>
                                                    {{/each}}
                                                </select>
                                                {{else if year}}
                                                <input type="number" class="form-control addEntryInput" value="2000" maxlength="{{maxSize}}" colID="{{math @index "+" 1}}">
                                                <span class="description">Max Length: <b class="maxL">{{maxSize}}</b> Type: <b class="varType">{{type}}</b> </span>
                                                {{else if isBool}}
                                                <div class="anim-checkbox" style="flex: 0 0 auto;" draggable="false">
                                                    <label style="margin-top: 5px;">
                                                        <input type="checkbox" class="addEntryInput" value="">
                                                        <span class="cr">
                                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                                {{else}}
                                                <input type="text" class="form-control addEntryInput" name="{{title}}" id="{{title}}" value="" placeholder="{{placeholder}}" colID="{{math @index "+" 1}}" />
                                                <span class="description">Max Length: <b class="maxL">{{maxSize}}</b> Type: <b class="varType">{{type}}</b> </span>
                                                {{/if}}
                                            </div>
                                            {{/each}}
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                                        <button type="button" class="btn btn-primary addConfirmBtn" data-dismiss="modal">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="venuelocations" class="panel tab-pane fade panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Venue locations</h3>
                        </div>
                        <div class="panel-body">
                            <span class="pull-right titleRightSide">
                                Nothing is actually done until you press <span class="glyphicon glyphicon-arrow-right"></span>
                                <span class="btn-group btn-group-md">
                                    <button class="btn btn-success saveAllBtn" data-toggle="modal" data-target="#submitConfirm">Save &amp; Submit</button>
                                    <button class="btn btn-warning revertAllBtn" data-toggle="modal" data-target="#revertConfirm">Revert</button>
                                </span>
                            </span>
                            <h4 class="innerTitle">Venue Location List</h4>

                            <div class="mainContentBox">
                                <table class="table table-striped table-hover table-responsive">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="anim-checkbox">
                                                    <label>
                                                        <input type="checkbox" class="selectAllCb" value="">
                                                        <span class="cr">
                                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </th>
                                            {{#each VenueDesc}}
                                            <th>{{this}}</th>
                                            {{/each}}
                                            <th>
                                                <div class="dropdown buttonSelector pull-right">
                                                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" data-toggle="dropdown">
                                                        Editor List
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        {{#each VenueDesc}}
                                                        <li><a class="buttonSelSelction" href="#/">{{this}}</a></li>
                                                        {{/each}}
                                                    </ul>
                                                </div>
                                                <button type="button" class="btn btn-default pull-right btn-sm colEditBtn">Toggle Edit</button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each VenueDetails}}
                                        <tr>
                                            <td class="col-md-1 vert-align">
                                                <div class="anim-checkbox" draggable="false">
                                                    <label>
                                                        <input type="checkbox" class="massEditCbox" value="">
                                                        <span class="cr">
                                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            {{#each this}}

                                            <td class="vert-align dataEntry">
                                                <div class="displayEntry">{{this}}</div>
                                                {{#if @first}}
                                                {{else}}
                                                <div class="editEntry" style="display:none">
                                                    {{#if (lookup (lookup ../../VenueType (math @index "-" 1)) "enumArray")}}
                                                    <select class="form-control addEntryInput" colID="{{@index}}">
                                                        {{#each (lookup (lookup ../../VenueType (math @index "-" 1)) "enumArray")}}
                                                        <option>{{this}}</option>
                                                        {{/each}}
                                                    </select>
                                                    {{else if (lookup (lookup ../../VenueType (math @index "-" 1)) "year")}}
                                                    <input type="number" class="form-control addEntryInput" value="2000" maxlength="8" colID="{{@index}}">
                                                    {{else if (lookup (lookup ../../VenueType (math @index "-" 1)) "isBool")}}
                                                    <div class="anim-checkbox" style="flex: 0 0 auto;" draggable="false">
                                                        <label style="margin-top: 5px;">
                                                            <input type="checkbox" class="addEntryInput" value="">
                                                            <span class="cr">
                                                                <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                            </span>
                                                        </label>
                                                    </div>
                                                    {{else}}
                                                    <input type="text" class="form-control addEntryInput" name="{{lookup (lookup ../../VenueType (math @index "-" 1)) "title"}}" id="{{lookup (lookup ../../VenueType (math @index "-" 1)) "title"}}" value="" placeholder="{{lookup (lookup ../../VenueType (math @index "-" 1)) "placeholder"}}" colID="{{@index}}" />
                                                    {{/if}}

                                                </div>
                                                {{/if}}
                                            </td>
                                            {{/each}}
                                            <td class="vert-align editBtnGroup">
                                                <div class="btn-group btn-group-sm pull-right show-on-hover">
                                                    <button type="button" class="btn btn-success editSaveBtn">Save</button>
                                                    <button type="button" class="btn btn-warning editCancelBtn">Cancel</button>
                                                    <button type="button" class="btn btn-default editEntryBtn">Edit</button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#removalConfirm">Delete</button>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <div class="pull-right btn-group btn-group-md">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#addVenue">Add</button>
                                    <button class="btn btn-default" data-toggle="modal" data-target="#uploadxlsx" title="Upload a .xlsx file to update the values here">Upload Excel</button>
                                </div>
                                <div class="massEditBtns">
                                    <label for="massEdit" style="vertical-align: middle;">Mass Edit:</label>
                                    <div class="btn-group btn-group-md">
                                        <button type="button" class="btn btn-default massEditEdit" data-toggle="modal" data-target="#addVenue">
                                            Edit
                                        </button>
                                        <button type="button" class="btn btn-danger massEditRemove" data-toggle="modal" data-target="#removalConfirm">
                                            Remove
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade addEntryModal" id="addVenue" tabindex="-1" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="">Add item</h4>
                                    </div>
                                    <div class="modal-body">
                                        Add entry to venues:
                                        <div class="form-group">
                                            <div class="addEntryEntry">
                                                <span class="addEntryLbl" style="margin-right: 20px"><b>ID</b></span>
                                                <span class=""> Auto generated</span>
                                            </div>
                                            {{#each VenueType}}
                                            <div class="addEntryEntry">
                                                <label class="addEntryLbl" for="{{title}}">{{title}}</label>
                                                {{#if enumArray}}
                                                <select class="form-control addEntryInput" colID="{{math @index "+" 1}}">
                                                    {{#each enumArray}}
                                                    <option>{{this}}</option>
                                                    {{/each}}
                                                </select>
                                                {{else if year}}
                                                <input type="number" class="form-control addEntryInput" value="2000" maxlength="{{maxSize}}" colID="{{math @index "+" 1}}">
                                                <span class="description">Max Length: <b class="maxL">{{maxSize}}</b> Type: <b class="varType">{{type}}</b> </span>
                                                {{else if isBool}}
                                                <div class="anim-checkbox" style="flex: 0 0 auto;" draggable="false">
                                                    <label style="margin-top: 5px;">
                                                        <input type="checkbox" class="addEntryInput" value="">
                                                        <span class="cr">
                                                            <i class="cr-icon glyphicon glyphicon-ok"></i>
                                                        </span>
                                                    </label>
                                                </div>
                                                {{else}}
                                                <input type="text" class="form-control addEntryInput" name="{{title}}" id="{{title}}" value="" placeholder="{{placeholder}}" colID="{{math @index "+" 1}}" />
                                                <span class="description">Max Length: <b class="maxL">{{maxSize}}</b> Type: <b class="varType">{{type}}</b> </span>
                                                {{/if}}
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" id="close">Close</button>
                                        <button type="button" class="btn btn-primary addConfirmBtn" data-dismiss="modal">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="uploadxlsx" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id=""><b>Upload Excel File</b></h4>
                                </div>
                                <div class="modal-body">
                                    <!-- Standard Form -->
                                    <h4>Select the file from your computer</h4>
                                    <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <input type="file" name="files[]" id="js-upload-files" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                                        </div>
                                    </form>
                                    <!-- Drop Zone -->
                                    <h4>Or drag and drop file below</h4>
                                    <div class="upload-drop-zone" id="drop-zone">
                                        Or drag and drop the excel file here
                                    </div>
                                    <h5 style="color:red">WARNING: This will overwrite all entries that have the same <i>VenueName</i> as your excel file with the new data. There will be <b>no confirmation dialog</b>.</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="ReportGenPanel" class="panel tab-pane fade panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Generate Reports</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-responsive">
                                <tbody>
                                    <tr>
                                        <td class="vert-align report-text">
                                            Jubilee Activities attendance numbers report
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary pull-right" id="attendenceRepBtn" style="white-space: normal">
                                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                                Download
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vert-align report-text">
                                            Jubilee Activity Registers report
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary pull-right" id="activityRegis" style="white-space: normal">
                                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                                Download
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="vert-align report-text">
                                            Jubilee attendees badges
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary pull-right" id="nameBadges" style="white-space: normal">
                                                <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
                                                Download
                                            </button>
                                        </td>
                                    </tr>
                                    <tr style="border-bottom: 1px solid #ddd;">
                                        <td class="vert-align report-text">
                                            List of people attending the Jubilee Celebrations – for Jubilee website
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary pull-right" id="viewList" style="white-space: normal">
                                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                                View page
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

    <div class="modal fade" id="removalConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">Remove confirmation</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this entry? --- <span class="info"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id=".close">Close</button>
                    <button type="button" class="btn btn-danger" id="removeConfirmBtn" data-dismiss="modal">Yes, remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="revertConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">Submit confirmation</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to revert this updated table to the original?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning" id="revertConfirmBtn" data-dismiss="modal">Revert</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="submitConfirm" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="">Submit confirmation</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to submit this updated table?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="submitConfirmBtn" data-dismiss="modal">Yes, submit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script></script>
    <script>
        var databaseDesc = {{{GeneralData}}};
        var typeIndexLookup = {{{typeIndexLookup}}};
    </script>
    <script src="js/index.js"></script>
</body>
</html>